In [1]:
!wget https://raw.githubusercontent.com/taivop/joke-dataset/master/reddit_jokes.json
!wget https://raw.githubusercontent.com/taivop/joke-dataset/master/stupidstuff.json
!wget https://raw.githubusercontent.com/taivop/joke-dataset/master/wocka.json

--2018-04-04 19:43:09--  https://raw.githubusercontent.com/taivop/joke-dataset/master/reddit_jokes.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.32.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 68662116 (65M) [text/plain]
Saving to: ‘reddit_jokes.json.1’

reddit_jokes.json.1 100%[===================>]  65.48M   163MB/s    in 0.4s

2018-04-04 19:43:10 (163 MB/s) - ‘reddit_jokes.json.1’ saved [68662116/68662116]

--2018-04-04 19:43:10--  https://raw.githubusercontent.com/taivop/joke-dataset/master/stupidstuff.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.32.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2616857 (2.5M) [text/plain]
Saving to: ‘stupidstuff.json.1’

stupidstuff.json.1  100%[===================>]   2.50M  --.-KB/s    in 0.1s

2018-04-04 19:43:11 (23.7 MB/s) - ‘stupidstuff.json.1’ saved [2616857/2616857]

--2018-04-04 19:43:11--  https://raw.githubusercontent.com/taivop/joke-dataset/master/wocka.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.32.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7718338 (7.4M) [text/plain]
Saving to: ‘wocka.json.1’

wocka.json.1        100%[===================>]   7.36M  33.7MB/s    in 0.2s

2018-04-04 19:43:11 (33.7 MB/s) - ‘wocka.json.1’ saved [7718338/7718338]

In [2]:
import pandas as pd
import json
r_jokes = pd.read_json('reddit_jokes.json')
s_jokes = pd.read_json('stupidstuff.json')
w_jokes = pd.read_json('wocka.json')

In [3]:
r_jokes.head(5)

,body,id,score,title
0,"Now I have to say ""Leroy can you please paint ...",5tz52q,1,I hate how you cant even say black paint anymore
1,Pizza doesn't scream when you put it in the ov...,5tz4dd,0,What's the difference between a Jew in Nazi Ge...
2,...and being there really helped me learn abou...,5tz319,0,I recently went to America....
3,A Sunday school teacher is concerned that his ...,5tz2wj,1,"Brian raises his hand and says, “He’s in Heaven.”"
4,He got caught trying to sell the two books to ...,5tz1pc,0,You hear about the University book store worke...

In [4]:
s_jokes.head(5)

                                                body      category  id  rating
0  A blackjack dealer and a player with a thirtee...      Children   1    2.63
1  At a dinner party, several of the guests were ...  Blonde Jokes   2    2.57
2  One day this cop pulls over a blonde for speed...  Blonde Jokes   3    3.09
3  Three women are about to be executed for crime...  Blonde Jokes   4    4.10
4  A girl came skipping home FROM school one day....  Blonde Jokes   5    4.30

In [5]:
w_jokes.head(5)

,body,category,id,title
0,What do you call a cow with no legs?\r\n\r\nGr...,Animal,1,Cow With No Legs
1,What do you call a cow jumping over a barbed w...,Animal,2,Jumping Cow
2,What's black and white and red all over?\r\n\r...,Other / Misc,4,"Black, White and Red"
3,"So, this guy walks into a bar.\r\n\r\nAnd says...",Bar,5,Guy in a Bar
4,"If the opposite of pro is con, isn't the oppos...",One Liners,6,Progress

In [6]:
r_jokes.drop(['id'], axis=1, inplace=True)
r_jokes.head(5)

,body,score,title
0,"Now I have to say ""Leroy can you please paint ...",1,I hate how you cant even say black paint anymore
1,Pizza doesn't scream when you put it in the ov...,0,What's the difference between a Jew in Nazi Ge...
2,...and being there really helped me learn abou...,0,I recently went to America....
3,A Sunday school teacher is concerned that his ...,1,"Brian raises his hand and says, “He’s in Heaven.”"
4,He got caught trying to sell the two books to ...,0,You hear about the University book store worke...

In [7]:
r_jokes["joke"] = r_jokes["title"].map(str) + " \n " + r_jokes["body"].map(str)
r_jokes.head()

,body,score,title,joke
0,"Now I have to say ""Leroy can you please paint ...",1,I hate how you cant even say black paint anymore,I hate how you cant even say black paint anymo...
1,Pizza doesn't scream when you put it in the ov...,0,What's the difference between a Jew in Nazi Ge...,What's the difference between a Jew in Nazi Ge...
2,...and being there really helped me learn abou...,0,I recently went to America....,I recently went to America.... \n ...and being...
3,A Sunday school teacher is concerned that his ...,1,"Brian raises his hand and says, “He’s in Heaven.”","Brian raises his hand and says, “He’s in Heave..."
4,He got caught trying to sell the two books to ...,0,You hear about the University book store worke...,You hear about the University book store worke...

In [8]:
print(r_jokes['score'].min())
print(r_jokes['score'].max())

0
48526

In [9]:
print(r_jokes['joke'][4])

You hear about the University book store worker who was charged for stealing $20,000 worth of books?
 He got caught trying to sell the two books to a freshman.

In [10]:
r_jokes.drop(['body','title'], axis=1, inplace=True)
r_jokes.head()

   score                                               joke
0      1  I hate how you cant even say black paint anymo...
1      0  What's the difference between a Jew in Nazi Ge...
2      0  I recently went to America.... \n ...and being...
3      1  Brian raises his hand and says, “He’s in Heave...
4      0  You hear about the University book store worke...

In [11]:
val = r_jokes.score.values

In [12]:
import numpy.ma as ma
val = ma.log(val).filled(0)

In [13]:
import numpy as np
val /= np.log(3)

In [14]:
print(val)

[ 0.          0.          0.         ...,  3.44451785  3.77124375  0.        ]

In [15]:
r_jokes['score'] = val

In [16]:
r_jokes.score.max()

9.8213492849601067

In [17]:
print(r_jokes['joke'][7])

I walked into a PETA adoption center and the receptionist asked me what kind of dog I wanted
 Apparently "Whatever's low in cholesterol" was not the right answer.

In [18]:
s_jokes.drop(['category', 'id'], axis=1, inplace=True)
s_jokes.head(5)

                                                body  rating
0  A blackjack dealer and a player with a thirtee...    2.63
1  At a dinner party, several of the guests were ...    2.57
2  One day this cop pulls over a blonde for speed...    3.09
3  Three women are about to be executed for crime...    4.10
4  A girl came skipping home FROM school one day....    4.30

In [19]:
s_jokes = s_jokes.rename(columns={'body': 'joke', 'rating': 'score'})
s_jokes.head()

                                                joke  score
0  A blackjack dealer and a player with a thirtee...   2.63
1  At a dinner party, several of the guests were ...   2.57
2  One day this cop pulls over a blonde for speed...   3.09
3  Three women are about to be executed for crime...   4.10
4  A girl came skipping home FROM school one day....   4.30

In [20]:
s_jokes = s_jokes[['score','joke']]

In [21]:
s_jokes.head(5)

   score                                               joke
0   2.63  A blackjack dealer and a player with a thirtee...
1   2.57  At a dinner party, several of the guests were ...
2   3.09  One day this cop pulls over a blonde for speed...
3   4.10  Three women are about to be executed for crime...
4   4.30  A girl came skipping home FROM school one day....

In [22]:
s_jokes.score*=2

In [23]:
print(s_jokes.score.min())
print(s_jokes.score.max())

0.0
10.0

In [24]:
data = pd.concat([r_jokes, s_jokes])
print(data.shape)

(198326, 2)

In [25]:
_jokes = {}
for _, row in data.iterrows():
  _jokes[row['joke']] = row['score']

In [26]:
'''
for key, value in _jokes.items():
    print(key+" : "+ str(value))
'''

'\nfor key, value in _jokes.items():\n    print(key+" : "+ str(value))\n'

## rnn model

In [ ]:
from keras.models import Sequential
from keras.layers.core import Dense, Activation, Dropout
from keras.layers.recurrent import LSTM, SimpleRNN
from keras.layers.wrappers import TimeDistributed
import argparse

# Parsing arguments for Network definition
ap = argparse.ArgumentParser()
ap.add_argument('-data_dir', default='./data/test.txt')
ap.add_argument('-batch_size', type=int, default=50)
ap.add_argument('-layer_num', type=int, default=2)
ap.add_argument('-seq_length', type=int, default=50)
ap.add_argument('-hidden_dim', type=int, default=500)
ap.add_argument('-generate_length', type=int, default=500)
ap.add_argument('-nb_epoch', type=int, default=20)
ap.add_argument('-mode', default='train')
ap.add_argument('-weights', default='')
args = vars(ap.parse_args())

DATA_DIR = args['data_dir']
BATCH_SIZE = args['batch_size']
HIDDEN_DIM = args['hidden_dim']
SEQ_LENGTH = args['seq_length']
WEIGHTS = args['weights']

GENERATE_LENGTH = args['generate_length']
LAYER_NUM = args['layer_num']

In [ ]:
# Creating and compiling the Network
model = Sequential()
model.add(LSTM(HIDDEN_DIM, input_shape=(None, VOCAB_SIZE), return_sequences=True))
for i in range(LAYER_NUM - 1):
  model.add(LSTM(HIDDEN_DIM, return_sequences=True))
model.add(TimeDistributed(Dense(VOCAB_SIZE)))
model.add(Activation('softmax'))
model.compile(loss="categorical_crossentropy", optimizer="rmsprop") # optimiser = adam will also do the work